[Unit]
Description=Renew certbot IPA certificate
Wants=freeipa-certbot.timer

[Service]
User=root
Type=oneshot
ExecStart=/usr/local/sbin/ipa-certbot/renew-le.sh

[Install]
WantedBy=multi-user.target
